<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/csshake@1.5.3/dist/csshake.min.css" integrity="sha256-QoyCSsL0iSqNXuNkAkGhLFXhVLSw61dpWkwA7QltbYY=" crossorigin="anonymous">
<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>
<% if (theme.verifyPassword.enable) { %>
    <script src="<%- theme.jsDelivr.url %><%- theme.libs.js.crypto %>"></script>
    <script>
        (function() {
            let pwd = '<%- page.password %>';
            if (pwd && pwd.length > 0) {
                if (pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
                    alert('<%- theme.verifyPassword.errorMessage %>');
                    location.href = '<%- url_for("/")  %>';
                }
            }
        })();
    </script>
<% } %>
<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar shake-rotate">
                                <img src="<%- theme.jsDelivr.url %><%- theme.profile.avatar %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <!-- <div class="title"><%- config.author %></div> -->
                                <!-- <div class="career"><%- theme.profile.career %></div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <!-- <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div> -->
                    </div>
                </div>
                
                
                <!-- <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction %></div> -->
                <%- partial('_widget/post-charts_map') %>
                <%- partial('_widget/post-charts') %>
                

                <% if (theme.myProjects && theme.myProjects.enable) { %>
                <%- partial('_widget/my-projects') %>
                <% } %>

                <% if (theme.mySkills && theme.mySkills.enable) { %>
                <%- partial('_widget/my-skills') %>
                <% } %>

                <% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>

            </div>
        </div>
    </div>
</main>